.risk-banner-container {
  height: 420px;
  text-align: center;
  background: #2a57f6;
}
.risk-banner-container .container img {
  object-position: center center;
  object-fit: contain;
  width: 100%;
  max-width: 1140px;
  line-height: 420px;
  height: 420px;
  text-align: center;
}
.after-banner-container {
  height: 420px;
  text-align: center;
  background: #0082ff;
}
.after-banner-container .container img {
  object-position: center center;
  object-fit: contain;
  width: 100%;
  max-width: 1140px;
  line-height: 420px;
  height: 420px;
  text-align: center;
}
.upstream-banner-container {
  height: 420px;
  text-align: center;
  background: #6030ad;
}
.upstream-banner-container .container img {
  object-position: center center;
  object-fit: contain;
  width: 100%;
  max-width: 1140px;
  line-height: 420px;
  height: 420px;
  text-align: center;
}
.core-banner-container {
  height: 420px;
  text-align: center;
  background: #6260ef;
}
.core-banner-container .container img {
  object-position: center center;
  object-fit: contain;
  width: 100%;
  max-width: 1140px;
  line-height: 420px;
  height: 420px;
  text-align: center;
}
.order-banner-container {
  height: 420px;
  text-align: center;
  background: #0648b7;
}
.order-banner-container .container img {
  object-position: center center;
  object-fit: contain;
  width: 100%;
  max-width: 1140px;
  line-height: 420px;
  height: 420px;
  text-align: center;
}
.property-banner-container {
  height: 420px;
  text-align: center;
  background: #4f0dc6;
}
.property-banner-container .container img {
  object-position: center center;
  object-fit: contain;
  width: 100%;
  max-width: 1140px;
  line-height: 420px;
  height: 420px;
  text-align: center;
}
.content .container .introduction {
  font-size: 18px;
  margin-bottom: 40px;
}
.content .container .introduction h2 {
  font-size: 28px;
  margin: 40px 0;
}
.content .container .introduction .contents {
  margin-left: 40px;
  margin-top: 20px;
}
.content .container .introduction .contents p {
  margin-top: 40px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 21px;
  color: #4d4949;
}
.content .container .introduction .contents img {
  width: 100%;
  max-width: 1140px;
  object-position: center center;
  object-fit: contain;
}
.content .container .introduction .lists {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.content .container .introduction .lists section {
  box-shadow: 0 0 10px #f1eded;
  width: 532px;
  height: 138px;
  display: flex;
  margin: 10px;
}
.content .container .introduction .lists section .content {
  width: 400px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.content .container .introduction .lists section .content p {
  font-size: 16px;
  color: black;
  padding: 5px 0;
}
.content .container .introduction .lists section .content span {
  font-size: 14px;
}
.content .container .introduction .lists section .img {
  height: 138px;
  width: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .container .introduction .lists section .img img {
  display: block;
  width: 56px;
  height: 56px;
  object-position: center center;
  object-fit: contain;
}
.content .container .introduction {
  font-size: 18px;
  margin-bottom: 40px;
}
.content .container .introduction h2 {
  font-size: 28px;
  margin: 40px 0;
  text-align: center;
}
.content .container .introduction .contents {
  margin-left: 40px;
  margin-top: 20px;
}
.content .container .introduction .contents p {
  margin-top: 40px;
  font-weight: 600;
  color: black;
}
.content .container .introduction .contents img {
  width: 100%;
  max-width: 1040px;
  object-position: center center;
  object-fit: contain;
}
.content .container .introduction .contents span {
  font-size: 16px;
}
.banner-container .introduction {
  color: #fff;
  line-height: 2;
  width: 50%;
  margin-top: 80px;
}
.banner-container .introduction h1 {
  margin-bottom: 10px;
}
.middle-area {
  background: #f5f6f6;
  padding: 20px 0;
}
.middle-area h2 {
  margin: 30px auto;
  margin-bottom: 25px;
  text-align: center;
}
.middle-area img {
  width: 100%;
  object-position: center center;
  object-fit: contain;
  padding: 30px;
  padding-top: 0;
}
.middle-area .lists {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}
.middle-area .lists section {
  border-radius: 5px;
  box-shadow: 0 0 10px #f1eded;
  width: 532px;
  height: 138px;
  display: flex;
  margin: 10px;
  background: #fff;
}
.middle-area .lists section .content {
  width: 400px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.middle-area .lists section .content p {
  font-size: 16px;
  color: black;
  padding: 5px 10px;
}
.middle-area .lists section .content span {
  font-size: 14px;
  padding: 0 10px;
}
.middle-area .lists section .img {
  height: 138px;
  width: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-area .lists section .img img {
  display: block;
  width: 56px;
  height: 56px;
  object-position: center center;
  object-fit: contain;
  padding: 0;
}
#content .about-w3 {
  padding: 0;
}
.content .about-w3 {
  padding-top: 0;
}
