.risk-banner-container {
  height: 420px;
  // border: 1px solid red;
  text-align: center;
  .container {
    // border: 1px solid red;
    img {
      object-position: center center;
      object-fit: contain;
      width: 100%;
      max-width: 1140px;
      // border: 1px solid red;
      line-height: 420px;
      height: 420px;
      text-align: center;
    }
  }
  background: #2a57f6;
}
.after-banner-container {
  height: 420px;
  // border: 1px solid red;
  text-align: center;
  .container {
    // border: 1px solid red;
    img {
      object-position: center center;
      object-fit: contain;
      width: 100%;
      max-width: 1140px;
      // border: 1px solid red;
      line-height: 420px;
      height: 420px;
      text-align: center;
    }
  }
  background: #0082ff;
}
.upstream-banner-container {
  height: 420px;
  // border: 1px solid red;
  text-align: center;
  .container {
    // border: 1px solid red;
    img {
      object-position: center center;
      object-fit: contain;
      width: 100%;
      max-width: 1140px;
      // border: 1px solid red;
      line-height: 420px;
      height: 420px;
      text-align: center;
    }
  }
  background: #6030ad;
}
.core-banner-container {
  height: 420px;
  // border: 1px solid red;
  text-align: center;
  .container {
    // border: 1px solid red;
    img {
      object-position: center center;
      object-fit: contain;
      width: 100%;
      max-width: 1140px;
      // border: 1px solid red;
      line-height: 420px;
      height: 420px;
      text-align: center;
    }
  }
  background: #6260ef;
}
.order-banner-container {
  height: 420px;
  // border: 1px solid red;
  text-align: center;
  .container {
    // border: 1px solid red;
    img {
      object-position: center center;
      object-fit: contain;
      width: 100%;
      max-width: 1140px;
      // border: 1px solid red;
      line-height: 420px;
      height: 420px;
      text-align: center;
    }
  }
  background: #0648b7;
}
.property-banner-container {
  height: 420px;
  // border: 1px solid red;
  text-align: center;
  .container {
    // border: 1px solid red;
    img {
      object-position: center center;
      object-fit: contain;
      width: 100%;
      max-width: 1140px;
      // border: 1px solid red;
      line-height: 420px;
      height: 420px;
      text-align: center;
    }
  }
  background: #4f0dc6;
}
.content {
  .container {
    .introduction {
      font-size: 18px;
      margin-bottom: 40px;
      h2 {
        font-size: 28px;
        margin: 40px 0;
      }
      .contents {
        margin-left: 40px;
        margin-top: 20px;
        // border: 1px solid red;
        p {
          margin-top: 40px;
          margin-bottom: 5px;
          font-weight: 600;
          font-size: 21px;
          color: #4d4949;
        }
        img {
          width: 100%;
          max-width: 1140px;
          object-position: center center;
          object-fit: contain;
        }
      }

      .lists {
        // border: 1px solid red;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        section {
          border: 1px solid #93b2bb;
          width: 532px;
          height: 138px;
          display: flex;
          margin: 10px;
          .content {
            // border: 1px solid red;
            width: 400px;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            p {
              font-size: 16px;
              color: black;
              padding: 5px 0;
            }
            span {
              font-size: 14px;
            }
          }
          .img {
            height: 138px;
            width: 138px;
            // border: 1px solid blue;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              display: block;
              width: 56px;
              height: 56px;
              object-position: center center;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

.banner-container {
  .introduction {
    color: #fff;
    line-height: 2;
    width: 50%;
    margin-top: 80px;
    h1 {
      margin-bottom: 10px;
    }
  }
}
