.content .container #inner-nav ul {
  border: none !important;
}
.content .container .introduction {
  background: #fff;
  font-size: 18px;
  margin: 40px 0;
}
.content .container .introduction h2 {
  font-size: 18px;
  margin: 40px auto;
  text-align: center;
}
.content .container .introduction .contents {
  margin: 40px;
}
.content .container .introduction .contents p {
  margin-top: 40px;
  font-size: 16px;
  color: #a0a0a0;
}
.content .container .introduction .contents p .important {
  font-weight: 600;
}
.banner-container {
  background: #1c162b;
  background: -moz-linear-gradient(left, #1c162b 0%, #1c162b 24%, #33274b 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #1c162b), color-stop(24%, #1c162b), color-stop(100%, #33274b));
  background: -webkit-linear-gradient(left, #1c162b 0%, #1c162b 24%, #33274b 100%);
  background: -o-linear-gradient(left, #1c162b 0%, #1c162b 24%, #33274b 100%);
  background: -ms-linear-gradient(left, #1c162b 0%, #1c162b 24%, #33274b 100%);
  background: linear-gradient(to right, #1c162b 0%, #1c162b 24%, #33274b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c162b', endColorstr='#33274b', GradientType=1);
}
.banner-container video {
  display: block;
  width: 1150px;
  margin: 0 auto;
  max-width: 1150px;
  text-align: center;
  height: 520px;
  object-fit: cover;
}
.banner-container .introduction {
  color: #fff;
  line-height: 2;
  width: 50%;
  margin-top: 80px;
}
.banner-container .introduction h1 {
  margin-bottom: 10px;
}
