// .banner-container {
// height: 400px;
// background: #1565c0;
// background-size: contain;
// background-repeat: no-repeat;

// background: url(../../source/plan/供应链金融banner.png) center center,
//   linear-gradient(
//     150deg,
//     rgba(21, 101, 192, 1),
//     rgba(20, 104, 195, 1),
//     rgba(15, 113, 204, 1),
//     rgba(8, 129, 218, 1),
//     rgba(0, 145, 234, 1)
//   );
// background-position: 50% 10%;
// }

.content {
  .container {
    .introduction {
      font-size: 18px;
      margin-bottom: 40px;
      h2 {
        font-size: 28px;
        margin: 40px 0;
      }
      .contents {
        margin-left: 40px;
        margin-top: 20px;
        // border: 1px solid red;
        p {
          margin-top: 40px;
          // font-weight: 4;
          color: black;
          .important {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.banner-container {
  .introduction {
    color: #fff;
    line-height: 2;
    width: 50%;
    margin-top: 80px;
    h1 {
      margin-bottom: 10px;
    }
  }
}
