* {
  border: 0;
  padding: 0;
  box-sizing: border-box !important;
}
.banner-container {
  height: 420px;
  background: #1565c0;
  background-size: cover;
  background-repeat: no-repeat;

  background: url(../source/plan/供应链金融banner.png) center center,
    linear-gradient(
      150deg,
      rgba(21, 101, 192, 1),
      rgba(20, 104, 195, 1),
      rgba(15, 113, 204, 1),
      rgba(8, 129, 218, 1),
      rgba(0, 145, 234, 1)
    );
  background-position: 50% 50%;
}

.content {
  .introduction {
    // border: 1px solid red;
    .list {
      min-width: 1040px;
      // border: 1px solid red;
      display: flex;
      flex-flow: column wrap;
      .list-cell {
        display: flex;
        // margin: 40px 0;
        justify-content: space-around;
        padding: 40px 0;
        border-bottom: 1px solid #d8d8d8;
        img {
          // border: 1px solid green;
          height: 200px;
          width: 500px;
          object-position: center center;
          object-fit: cover;
        }
        article {
          // border: 1px solid red;
          height: 200px;
          width: 500px;
          display: flex;
          flex-flow: column wrap;
          .title {
            width: 500px;
            height: 50px;
            // line-height: 50px;
            padding-top: 10px;
            // border: 1px solid blue;
            font-weight: 500;
            font-size: 16px;
          }
          .content {
            width: 500px;
            height: 100px;
            // border: 1px solid yellowgreen;
          }
          footer {
            display: flex;
            flex-flow: row wrap;
            height: 50px;
            padding-top: 30px;
            // line-height: 50px;
            .time {
              width: 300px;
              // border: 1px solid blue;
              color: #6a7599;
            }
            .detail {
              width: 200px;
              // border: 1px solid blue;
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}

.banner-container {
  .introduction {
    // border: 1px solid red;
    color: #fff;
    line-height: 2;
    width: 50%;
    margin-top: 80px;
    h1 {
      margin-bottom: 10px;
    }
  }
}
