.banner-container {
  height: 500px;
  background: #1565c0;
  background-size: cover;
  background-repeat: no-repeat;

  background: url(../source/plan/供应链金融banner.png) center center,
    linear-gradient(
      150deg,
      rgba(21, 101, 192, 1),
      rgba(20, 104, 195, 1),
      rgba(15, 113, 204, 1),
      rgba(8, 129, 218, 1),
      rgba(0, 145, 234, 1)
    );
  background-position: 50% 50%;
}

.content {
  .container {
    border: 1px solid red;
    margin-top: -40px;
    .introduction {
      font-size: 18px;
      margin-bottom: 40px;
      h2 {
        font-size: 28px;
        margin: 40px 0;
      }
      .contents {
        padding: 20px;
        border: 1px solid #eee;
        background: #fff;
        .img-left {
          float: left;
          margin-right: 40px;
          // border: 10px solid green;
          img {
            height: 300px;
            object-position: center center;
            object-fit: contain;
          }
        }
        .article-right {
          line-height: 1.8;
          h4 {
            font-size: 20px;
            // text-overflow: ellipsis;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1; // 此处2代表两行,

            overflow: hidden;
            // width: 500px;
          }
          .desc {
            font-size: 14px;
            color: #aaa;
            margin: 10px 0;
          }
          .content {
            margin-top: 20px;
            color: #ababab;
            font-size: 15px;

            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5; // 此处2代表两行,
            overflow: hidden;
            width: 500px;
            // background-color: #0fa;
          }
        }
      }
    }
  }
}

.banner-container {
  .introduction {
    color: #fff;
    line-height: 2;
    width: 50%;
    margin-top: 80px;
    h1 {
      margin-bottom: 10px;
    }
  }
}
