.news-banner-container {
  height: 420px;
  // border: 1px solid red;
  text-align: center;
  // .container {
  // border: 1px solid red;
  img {
    object-position: center center;
    object-fit: cover;
    width: 100%;
    // width: 1140px;
    // border: 1px solid red;
    line-height: 420px;
    height: 420px;
    text-align: center;
  }
  // }
  background: #fff;
}

.content {
  .container {
    .introduction {
      font-size: 18px;
      margin-bottom: 40px;
      h2 {
        font-size: 28px;
        margin: 40px 0;
        text-align: center;
        font-weight: normal;
      }
      h2:first-child {
        margin-bottom: 10px;
      }
      .contents {
        margin-left: 40px;
        margin-top: 20px;
        // border: 1px solid red;
        p {
          margin-top: 40px;
          font-weight: 600;
          color: black;
        }
        .jobs {
          // border: 1px solid red;
          margin-bottom: 40px;
          h4 {
            margin: 20px 0;
            font-size: 20px;
            // color: #000;
          }
          p {
            font-size: 16px;
            font-weight: normal;
            margin-top: 20px;
            color: #555f73;
          }
        }
      }
    }

    .team {
      border: 1px solid #eee;
      margin-top: 0px;
      background: #fff;
      // h2 {
      //   font-size: 18px;
      //   text-align: center;
      //   margin: 0 auto;
      //   margin-top: 40px;
      // }
      .gallery-grids {
        // border: 1px solid red;
        margin-top: 1px;
      }
    }

    .culture {
      border: 1px solid #eee;
      margin: 40px 0;
      background: #fff;
      h2 {
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 18px;
      }
      .contents {
        line-height: 2;
        padding: 10px;
      }
    }
  }
}

.banner-container {
  .introduction {
    color: #fff;
    line-height: 2;
    width: 50%;
    margin-top: 80px;
    h1 {
      margin-bottom: 10px;
    }
  }
}

#contents-contact {
  box-sizing: border-box;
  margin: 30px 0;
  // border: 1px solid red;
  display: flex;
  flex-flow: row wrap;

  .img {
    // border: 1px solid red;
    // width: 100%;
    width: 900px;
    height: 500px;
    // margin: 0 auto;
    // text-align: center;
    // display: block;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    img {
      width: 900px;
      height: 500px;
      object-position: center center;
      object-fit: contain;
    }
  }
  .contents {
    height: 500px;
    width: 230px;
    // border: 1px solid red;
    // line-height: 1.2;
    margin: 0;
    font-size: 16px;
    padding: 0;
    line-height: 1.2;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    p {
      // margin: 10px 0 !important;
      margin: 10px 0;
      font-weight: normal;
      color: #555f73;
    }
  }
}

.accordion {
  // margin-left: 20px;
  button.collapsed {
    font-size: 15px;
  }
  .card-body {
    margin-left: 20px;
    h4 {
      margin: 20px 0;
      // margin-top: 20px;
    }
    p {
      margin: 5px;
    }
  }
}

#content {
  .about-w3 {
    padding-top: 5px;
  }
  // background: #000;
}
