.news-banner-container {
  height: 300px;
  text-align: center;
  background: #034ca8;
}
.news-banner-container .container img {
  object-position: center center;
  object-fit: contain;
  width: 100%;
  width: 1140px;
  line-height: 300px;
  height: 300px;
  text-align: center;
}
.content .container .introduction {
  font-size: 18px;
  margin-bottom: 40px;
}
.content .container .introduction h2 {
  font-size: 28px;
  margin: 40px 0;
  text-align: center;
  font-weight: normal;
}
.content .container .introduction .contents {
  margin-left: 40px;
  margin-top: 20px;
}
.content .container .introduction .contents p {
  margin-top: 40px;
  font-weight: 600;
  color: black;
}
.content .container .introduction .contents .jobs {
  margin-bottom: 40px;
}
.content .container .introduction .contents .jobs h4 {
  margin: 20px 0;
  font-size: 20px;
}
.content .container .introduction .contents .jobs p {
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
  color: #555f73;
}
.content .container .team {
  border: 1px solid #eee;
  margin-top: 0px;
  background: #fff;
}
.content .container .team .gallery-grids {
  margin-top: 1px;
}
.content .container .culture {
  border: 1px solid #eee;
  margin: 40px 0;
  background: #fff;
}
.content .container .culture h2 {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 18px;
}
.content .container .culture .contents {
  line-height: 2;
  padding: 10px;
}
.banner-container .introduction {
  color: #fff;
  line-height: 2;
  width: 50%;
  margin-top: 80px;
}
.banner-container .introduction h1 {
  margin-bottom: 10px;
}
.contents-contact {
  margin: 30px 0;
  display: flex;
}
.contents-contact img {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  object-position: center center;
  object-fit: contain;
  display: block;
}
.contents-contact .contents {
  margin: 10px 0;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.contents-contact .contents p {
  margin: 10px 0 !important;
  font-weight: normal !important;
  color: #555f73 !important;
}
.accordion button.collapsed {
  font-size: 15px;
}
.accordion .card-body {
  margin-left: 20px;
}
.accordion .card-body h4 {
  margin: 20px 0;
}
.accordion .card-body p {
  margin: 5px;
}
